<!DOCTYPE html>
{{set-translations (asset "content/email-texts.json")}}
{{set-locale (asset "general/localization.json" "locale" "en_US")}}
{{set-timezone transaction.listing.availability-plan.timezone}}
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></head>
<body>
  <h1>{{t "BookingOperatorNeedsConfirmation.Title" "Action Required: Confirm Your Booking"}}</h1>
  <p>{{t "BookingOperatorNeedsConfirmation.Description" "Your booking request has been processed. Please confirm to proceed."}}</p>
  <p><a href="{{marketplace.url}}/order/{{url-encode id}}/">{{t "View & Confirm Booking"}}</a></p>
</body>
</html>